img {
    width: 100%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    
        font-family: "Anta", sans-serif;
        font-weight: 400;
        font-style: normal;
        background-color: rgb(128, 160, 240);   
}

.carta{
    width: calc(100% / 3 - 6px);
}